@import "https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap";
@media only screen and (min-width: 1300px) {
    .container {
        max-width: 1250px
    }
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #2e193c
}

a,
.productBox img {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.topContact {
    text-align: right;
    padding: 10px 0
}

.topContact a {
    color: #2e193c;
    padding-left: 10px
}

.topContact a i {
    color: #feaf10;
    padding-right: 3px
}

.logo {
    padding: 15px 0
}

.menuHeader {
    position: relative;
    z-index: 12000
}

.menuHeader li a {
    color: #2e193c!important;
    border: solid 1px #bdbdbd;
    padding: 10px 20px
}

.menuHeader li ul.sub-menu li a {
    color: #fff!important;
    border: none!important;
    font-size: 15px!important
}

.menuHeader li.menu-item-has-children a {
    padding-right: 40px
}

.primary-menu>li>.icon {
    right: 10px;
    color: #000!important
}

.primary-menu>li {
    margin: 17px 5px
}

.welcomeBox {
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px 1px #C9C9C9;
    box-shadow: 0 0 3px 1px #C9C9C9;
    margin-top: -60px;
    z-index: 25000;
    padding: 5px 15px 25px;
    position: absolute;
    width: 35%
}

.welcomeBox p {
    text-align: justify
}

.welcomeBox .wpb_wrapper {
    padding-top: 20px
}

.welComeSection {
    position: relative!important;
    margin-top: 0!important;
    z-index: 25000;
    overflow: visible!important;
    background-color: #f7f7f7
}

div.vc_custom_heading {
    color: #2c2e30;
    font-size: 18px
}

h2.vc_custom_heading {
    text-transform: uppercase;
    font-size: 35px
}

h2.vc_custom_heading::after {
    content: url('/wp-content/themes/canary-detection-theme/assets/images/titlebg.jpg');
    display: block;
    line-height: 4px
}

a.vc_general,
.readmoreBtn a,
button.readMoreLess {
    background-color: #feaf10!important;
    color: #000!important;
    border-radius: none!important;
    border: none!important;
    border-right: solid 10px #000!important;
    font-size: 18px!important;
    font-weight: 700
}

button.readMoreLess {
    padding: 14px 20px !important;
    border-radius: 5px !important;
}

button.readMoreLess:focus {
    outline: none;
}

.welcomeImg {
    margin-left: 33%;
    margin-top: 3%;
    margin-bottom: 2%
}

.vc_btn3-inline a.vc_general {
    border-radius: none!important
}

.vc_btn3-container {
    margin: 0!important
}

h3.productTitle a {
    background-color: #feaf10;
    color: #000;
    padding: 20px;
    display: block
}

.productBox .wpb_content_element {
    margin: 0
}

.productBox a {
    overflow: hidden
}

.productBox:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    filter: grayscale(100%)
}

.productOuter {
    padding-top: 25px
}

.productBox:hover a,
.productBox a:hover {
    background-color: #000;
    color: #fff
}

.case_img {
    position: absolute;
    width: 350px;
    top: 19%
}

.case_content {
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px 1px #C9C9C9;
    box-shadow: 0 0 3px 1px #C9C9C9;
    padding: 50px 50px 35px 180px;
    margin: 15px 15px 15px 200px
}

.readmoreBtn a {
    padding: 10px 15px;
    margin-top: 15px;
    display: inline-block
}

.slider-title {
    font-size: 25px;
    font-weight: 700
}

.slider-date {
    padding: 8px 0
}

.case_content p {
    line-height: 30px;
    text-align: justify
}

.owl-nav {
    position: absolute;
    top: 40%;
    z-index: 12000;
    width: 100%
}

.owl-nav button {
    background-color: #feaf10!important;
    color: #000;
    width: 50px;
    height: 50px;
    border: none
}

.owl-nav button span {
    font-size: 18px!important
}

button.owl-prev {
    position: absolute;
    left: -60px
}

button.owl-next {
    position: absolute;
    right: -50px
}

.requestaCallBack label,
.requestaCallBack input,
.requestaCallBack select {
    width: 100%!important
}

.requestaCallBack {
    padding: 40px 0
}

.requestaCallBack input,
.requestaCallBack select {
    border: solid 1px #c9c9c9;
    padding: 15px!important
}

textarea {
    height: 85px
}

input.wpcf7-submit {
    background-color: #feaf10;
    color: #000;
    border: none
}

::-webkit-input-placeholder {
    color: #000
}

::-moz-placeholder {
    color: #000
}

:-ms-input-placeholder {
    color: #000
}

:-moz-placeholder {
    color: #000
}

.foterOuter {
    background-color: #010101;
    padding: 40px 0;
    color: #fff
}

.foterOuter a {
    color: #fff
}

.address {
    display: flex
}

.contactBox .address {
    flex-direction: column
}

.foterOuter i {
    padding-right: 5px;
    color: #feaf10
}

.phone-footer {
    padding-bottom: 10px
}

.email {
    padding-bottom: 15px
}

.foterOuter ul li a {
    font-size: 16px;
    font-weight: 400
}

.foterOuter .widget-title {
    font-size: 16px;
    padding: 10px 0 20px;
    margin: 0 0 15px!important;
    color: #fff;
    background: url(/wp-content/themes/canary-detection-theme/assets/images/titlebg.jpg) no-repeat bottom left
}

.footerSocial a {
    display: block
}

.footerLogo img {
    width: 80%
}

#cookieConsent {
    position: fixed;
    padding: 10px 0;
    z-index: 100000;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #feaf10;
    color: #000;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Merriweather Sans', sans-serif!important
}

#cookieConsent a,
#closeCookieConsent {
    color: #000;
    border: solid 1px #fff;
    cursor: pointer;
    padding: 3px;
    background-color: #fff;
    margin-left: 10px;
    font-size: 14px
}

#cookieConsent {
    display: flex;
    align-items: center;
    justify-content: center
}

#cookieConsent a:hover,
#closeCookieConsent:hover {
    background-color: #000;
    color: #fff;
    border: solid 1px #000;
    text-decoration: none
}

.copyrightOuter {
    text-align: center
}

.copyrightText {
    border-top: solid 1px #805809;
    padding: 20px 0;
    margin-top: 30px
}

.copyrightText a {
    color: #fff
}

.innerPageOter {
    background: url(/wp-content/themes/canary-detection-theme/assets/images/innerbg.jpg) no-repeat left top;
    color: #fff;
    padding: 40px 0;
    font-size: 34px;
    text-transform: uppercase
}

.innerLeftGrayBox {
    background-color: #f7f7f7;
    min-height: 350px;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0 0 5px 3px #D1D1D1;
    box-shadow: 0 0 5px 3px #D1D1D1
}

.AboutUsBox .vc_column-inner {
    padding: 0!important;
    margin: 0!important
}

.innerLeftGrayBox h3 {
    font-size: 35px;
    padding: 0 40px;
    text-transform: uppercase
}

.innerLeftGrayBox h3::after {
    content: url('/wp-content/themes/canary-detection-theme/assets/images/titlebg.jpg');
    display: block;
    line-height: 4px
}

.innerPageContent {
    padding-top: 40px
}

.innerPageContent h2.vc_custom_heading {
    font-size: 25px
}

.innerPageContent label,
.innerPageContent input[type="text"],
.innerPageContent textarea,
.innerPageContent select,
.innerPageContent input[type="email"] {
    width: 100% !important;
}

.rightbtn .vc_column-inner .wpb_wrapper {
    display: flex;
    justify-content: flex-end
}

.rightbtn .vc_column-inner .wpb_wrapper .vc_btn3-container {
    margin: 0 0 0 10px !important
}

.blogOuter {
    padding: 40px 0
}

.b-item {
    display: flex
}

.blog-info {
    padding: 12px 10px
}

.blog-items a {
    color: #2e193c;
    text-decoration: underline
}

.blog-items {
    background-color: #f7f7f7;
    margin-bottom: 25px
}

.blog-info h4 {
    font-size: 28px;
    padding-top: 10px
}

.blog-info h4 a {
    text-decoration: none
}

.glorious_slidebar input.wp-block-search__input {
    margin: 0!important;
    width: 40%
}

.glorious_slidebar button.wp-block-search__button {
    background-color: #010101;
    color: #fff!important;
    padding: 0 20px!important;
    margin: 0!important;
    line-height: 15px!important;
    height: auto!important
}

.glorious_slidebar ul li a {
    color: #010101
}

.glorious_slidebar h2 {
    padding: 0;
    margin-bottom: 15px;
    font-size: 22px
}

.glorious_slidebar h2::after {
    content: url('/wp-content/themes/canary-detection-theme/assets/images/titlebg.jpg');
    display: block;
    line-height: 21px
}

.glorious_slidebar ul {
    margin: 0!important;
    padding: 0!important
}

.glorious_slidebar .widget,
.contactBox {
    background-color: #f7f7f7;
    padding: 20px;
    align-items: center;
    -webkit-box-shadow: 0 0 5px 3px #d1d1d1;
    box-shadow: 0 0 5px 3px #d1d1d1
}

.wp-block-search__label {
    display: none
}

.wp-block-group {
    margin: 0!important
}

.wpcf7-select {
    border: solid 1px #dcd7ca;
    padding: 15px
}

.entry-content-1 {
    padding: 15px 0
}

.entry-content-1 p {
    line-height: 30px;
    text-align: justify
}

a.next-post,
.previous-post {
    font-size: 18px;
    color: #000
}

.contactPageOuer {
    padding: 80px 0 0
}

.contactPageOuer h2 {
    font-size: 25px!important;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 0;
    text-align: center
}

.contactPageOuer h2::after {
    line-height: 10px
}

.contactBox {
    padding: 30px 0;
    min-height: 315px
}

.contactBox i {
    font-size: 25px;
    padding: 0 5px
}

.contactBox .address {
    justify-content: center
}

.contactBox .phone-footer,
.contactBox .email {
    text-align: center
}

.contactBox {
    text-align: center
}

.contactBox a {
    color: #010101
}

.socialMediaContact {
    padding: 10px 0
}

.contactPageOuer .requestaCallBack {
    padding-right: 30%!important;
    padding-left: 30%!important;
    padding-top: 80px
}

.requestaCallBack h2 {
    margin-bottom: 20px
}

.menuHeader li.current-menu-item a {
    background-color: #feaf10;
    border: solid 1px #feaf10;
    color: #000;
    text-decoration: none
}

.menuHeader li.current-menu-item ul li a {
    background: none
}

.aboutsLogo p {
    display: flex;
    justify-content: center
}

.aboutsLogo img {
    padding-right: 30px
}

span.color-accent {
    color: #feaf10
}